.df {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--jcsb {
    justify-content: space-between;
  }

  &--jcc {
    justify-content: center;
  }

  &--aic {
    align-items: center;
  }

  &--ais {
    align-items: start;
  }
}

.hide-scrollbar {
  overflow: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
}

@supports (-ms-overflow-style: none) {
  .hide-scrollbar {
    -ms-overflow-style: none;
  }
}
