.df {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--jcsb {
    justify-content: space-between;
  }

  &--jcc {
    justify-content: center;
  }

  &--aic {
    align-items: center;
  }
}
