// * * * * * C O L O R S * * * * * //
$main-bgc: #E4DFD3;
$text-color: #4B5563;
$text-color-secondary: #6B7280;

// * * * * * PRIMARY (GREEN) * * * * * //
$green-50: #F4FCF7;
$green-100: #CAF1D8;
$green-200: #A0E6BA;
$green-300: #76DB9B;
$green-400: #4CD07D;
$green-500: #22C55E;
$green-600: #1DA750;
$green-700: #188A42;
$green-800: #136C34;
$green-900: #0E4F26;

// * * * * * SURFACE (GRAY) * * * * //
$surface-border: #DFE7EF;
$surface-hover: #F6F9FC;

$surface-0: #FFFFFF;
$surface-50: #F9FAFB;
$surface-100: #F3F4F6;
$surface-200: #E5E7EB;
$surface-300: #D1D5DB;
$surface-400: #9CA3AF;
$surface-500: #6B7280;
$surface-600: #4B5563;
$surface-700: #374151;
$surface-800: #1F2937;
$surface-900: #111827;

// * * * * * BLUE * * * * * //
$blue-50: #F5F9FF;
$blue-100: #D0E1FD;
$blue-200: #ABC9FB;
$blue-300: #85B2F9;
$blue-400: #609AF8;
$blue-500: #3B82F6;
$blue-600: #326FD1;
$blue-700: #295BAC;
$blue-800: #204887;
$blue-900: #183462;

// * * * * * YELLOW * * * * * //
$yellow-50: #FEFBF3;
$yellow-100: #FAEDC4;
$yellow-200: #F6DE95;
$yellow-300: #F2D066;
$yellow-400: #EEC137;
$yellow-500: #EAB308;
$yellow-600: #C79807;
$yellow-700: #A47D06;
$yellow-800: #816204;
$yellow-900: #5E4803;

// * * * * * ORANGE * * * * * //
$orange-50: #FFF8F3;
$orange-100: #FEDDC7;
$orange-200: #FCC39B;
$orange-300: #FBA86F;
$orange-400: #FA8E42;
$orange-500: #F97316;
$orange-600: #D46213;
$orange-700: #AE510F;
$orange-800: #893F0C;
$orange-900: #642E09;

// * * * * * BLUEGRAY * * * * * //
$bluegray-50: #F7F8F9;
$bluegray-100: #DADEE3;
$bluegray-200: #BCC3CD;
$bluegray-300: #9FA9B7;
$bluegray-400: #818EA1;
$bluegray-500: #64748B;
$bluegray-600: #556376;
$bluegray-700: #465161;
$bluegray-800: #37404C;
$bluegray-900: #282E38;

// * * * * * RED * * * * * //
$red-50: #FFF5F5;
$red-100: #FFD0CE;
$red-200: #FFACA7;
$red-300: #FF8780;
$red-400: #FF6259;
$red-500: #FF3D32;
$red-600: #D9342B;
$red-700: #B32B23;
$red-800: #8C221C;
$red-900: #661814;

// * * * * * INDIGO * * * * * //
$indigo-50: #F7F7FE;
$indigo-100: #DADAF9;
$indigo-200: #BCBDF9;
$indigo-300: #9EA0F6;
$indigo-400: #8183F4;
$indigo-500: #6366F1;
$indigo-600: #5457CD;
$indigo-700: #4547A9;
$indigo-800: #363885;
$indigo-900: #282960;
